{% extends 'base.html' %}

{% load static %}
{% block content %}
<section class="Booking-header-section">
    <div class="Booking-header-content">
        <h2>Manage Booking</h2>
        <p>Login to view the details for your reservation</p>
    </div>
</section>

<section id="ManageBooking" class="Booking-image">    
    <div class="Booking-form-container">
        <p> Use your email address and reference ID to view reservation details. </p>
        <form action="#" method="post" class="Booking-form">
                <input type="email" name="email-address" placeholder="Email Address" required>
                <input type="text" name="bookingrefid" placeholder="Reference ID" required>
                <button type="submit">Manage</button>
        </form>
    </div>
</section>
{% endblock%}